mock/soap/src/test/resources/wsdl1-soap12/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="PetService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:com:example:petstore"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             targetNamespace="urn:com:example:petstore">

    <documentation>
        This is a sample WSDL 1.1 document describing the pet service.
        It has SOAP 1.2 bindings.
    </documentation>

    <!-- Abstract type -->
    <types>
        <!-- imported schema -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:com:example:petstore"
                   targetNamespace="urn:com:example:petstore">

            <xs:import namespace="urn:com:example:petstore"
                       schemaLocation="schema.xsd"/>
        </xs:schema>

        <!-- embedded schema -->
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:com:example:petstore"
                   targetNamespace="urn:com:example:petstore">

            <xs:complexType name="petBreed">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:all>
            </xs:complexType>
        </xs:schema>
    </types>

    <message name="getPetByIdRequest">
        <part element="tns:getPetByIdRequest" name="parameters"/>
    </message>
    <message name="getPetByIdResponse">
        <part element="tns:getPetByIdResponse" name="parameters"/>
    </message>
    <message name="getPetByNameRequest">
        <part element="tns:getPetByNameRequest" name="parameters"/>
    </message>
    <message name="getPetByNameResponse">
        <part element="tns:getPetByNameResponse" name="parameters"/>
    </message>

    <!-- Abstract port types -->
    <portType name="PetPortType">
        <operation name="getPetById">
            <input message="tns:getPetByIdRequest" name="getPetByIdRequest"/>
            <output message="tns:getPetByIdResponse" name="getPetByIdResponse"/>
        </operation>
        <operation name="getPetByName">
            <input message="tns:getPetByNameRequest" name="getPetByNameRequest"/>
            <output message="tns:getPetByNameResponse" name="getPetByNameResponse"/>
        </operation>
    </portType>

    <!-- Concrete Binding Over HTTP -->
    <binding name="HttpBinding" type="tns:PetPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getPetById">
            <soap12:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="getPetByName">
            <soap12:operation soapAction="getPetByName" style="document"/>
            <input name="getPetByNameRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByNameResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Concrete Binding with SOAP-->
    <binding name="SoapBinding" type="tns:PetPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/soap"/>

        <operation name="getPetById">
            <soap12:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>

        <operation name="getPetByName">
            <!-- soap12:operation style omitted - fall back to soap12:binding style -->
            <soap12:operation soapAction="getPetByName"/>
            <input name="getPetByNameRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByNameResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Web Service offering endpoints for both bindings-->
    <service name="PetService">
        <port name="HttpEndpoint" binding="tns:HttpBinding">
            <soap12:address location="http://www.example.com/http/"/>
        </port>
        <port name="SoapEndpoint" binding="tns:SoapBinding">
            <soap12:address location="http://www.example.com/soap/"/>
        </port>
    </service>
</definitions>
