examples/soap/template-response/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="PetService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:com:example:petstore"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             targetNamespace="urn:com:example:petstore">

    <documentation>
        A pet store service with a single operation and SOAP binding.
    </documentation>

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns="urn:com:example:petstore"
                   targetNamespace="urn:com:example:petstore">

            <xs:complexType name="petType">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                </xs:all>
            </xs:complexType>

            <xs:complexType name="getPetByIdRequest">
                <xs:all>
                    <xs:element name="id" type="xs:int"/>
                </xs:all>
            </xs:complexType>

            <xs:element name="getPetByIdRequest" type="getPetByIdRequest"/>
            <xs:element name="getPetByIdResponse" type="petType"/>

            <xs:element name="fault" type="xs:string"/>
        </xs:schema>
    </types>

    <message name="getPetByIdRequest">
        <part element="tns:getPetByIdRequest" name="parameters"/>
    </message>
    <message name="getPetByIdResponse">
        <part element="tns:getPetByIdResponse" name="parameters"/>
    </message>

    <portType name="PetPortType">
        <operation name="getPetById">
            <input message="tns:getPetByIdRequest" name="getPetByIdRequest"/>
            <output message="tns:getPetByIdResponse" name="getPetByIdResponse"/>
        </operation>
    </portType>

    <binding name="SoapBinding" type="tns:PetPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/soap"/>

        <operation name="getPetById">
            <soap12:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <soap12:body use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="PetService">
        <port name="SoapEndpoint" binding="tns:SoapBinding">
            <soap12:address location="http://www.example.com/pets/"/>
        </port>
    </service>
</definitions>
